[submodule "vim/pack/plugins/start/YouCompleteMe"]
	path = vim/pack/plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "/home/aesycos/.dotfiles/vim/pack/plugins/start/ale"]
	path = /home/aesycos/.dotfiles/vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "/home/aesycos/.dotfiles/vim/pack/plugins/start/nerdtree"]
	path = /home/aesycos/.dotfiles/vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "/home/aesycos/.dotfiles/vim/pack/plugins/start/lightline.vim"]
	path = /home/aesycos/.dotfiles/vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
